 <!-- Breadcrumb Start -->
 <div class="container-fluid mt-5">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" routerLink="/products">Shop</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0  table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let product of cartProducts; let i=index">
                        <td class="align-middle"><img [src]="product.item.image" alt="" style="width: 50px;"class="align-self-start"> <span></span>
                            <h6 class="fs-6">{{product.item.title}}</h6>
                        
                        </td>
                        <td class="align-middle">$ {{product.item.price}}</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 120px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" (click)="decreaseAmount(i)">
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" min="1" class="form-control form-control-sm w-50 text-center" value="1" (change)="getTotal()" [(ngModel)]="product.quantity">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus" (click)="increaseAmount(i)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$ {{product.item.price*product.quantity}}</td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger" (click)="deleteProduct(i)"><i class="fa fa-times"></i></button></td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-2 me-3" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5 p-2">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$ {{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$ 10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>$ {{total+10}}</h5>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold my-3 py-3" (click)="addCart()">Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success" role="alert" *ngIf="success"> <strong>Well Done</strong><p>Your order is successfully placed</p></div>
<!-- Cart End -->