@import "../../../../scss/varibales";
.product-item {
	transition: .5s;
	height: 420px;

	
	&:hover {
		box-shadow: 0 0 30px #DDDDDD;
		.product-action {
			background: rgba(256, 256, 256, .7);
			a.btn {
				&:first-child {
					opacity: 1;
					margin-top: 0;
					transition: .3s 0s;
				}
				&:nth-child(2) {
					opacity: 1;
					margin-top: 0;
					transition: .3s .05s;
				}
				&:nth-child(3) {
					opacity: 1;
					margin-top: 0;
					transition: .3s .1s;
				}
				&:nth-child(4) {
					opacity: 1;
					margin-top: 0;
					transition: .3s .15s;
				}
			}
		}
		.product-img {
			img {
				transform: scale(1.2);
			}
		}
	}
	.product-img {
		img {
			transition: .5s;
		}
	}
}
.product-action {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s;
	a.btn {
		position: relative;
		margin: 0 3px;
		margin-top: 100px;
		opacity: 0;
	}
}
	.product-item {
		.btn {
			&:hover {
				color: $primary !important;
			}
		}
	}

.product-data{
	height: 200px !important;
	
}
img, .image{
	max-height: 200px;
}