
$primary: #FFD333;
$secondary: #F5F5F5;
$light: #FFFFFF;
$dark: #3D464D;

$font-family-sans-serif: 'Roboto', sans-serif;

$body-bg: $secondary;

$body-color: #6C757D;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

$btn-focus-box-shadow: none;

$btn-active-box-shadow: none;

$input-btn-focus-box-shadow: none;

$input-placeholder-color: #999999;